* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-Green-200: hsl(148, 38%, 91%);
  --clr-Green-600-medium: hsl(169, 82%, 27%);
  --clr-Red: hsl(0, 66%, 54%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Grey-500-medium: hsl(186, 15%, 59%);
  --clr-Grey-900-darker: hsl(187, 24%, 22%);

  --ff1-font-family: "Karla", sans-serif; /*Weights: 400, 700*/
}
body {
  font-family: var(--ff1-font-family);
  display: grid;
  place-items: center;

  background: var(--clr-Green-200);
}

.success-state {
  background: var(--clr-Grey-900-darker);
  color: white;
  margin: 0 auto;
  width: 430px;
  padding: 1.4rem;
  margin-top: 1.7rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
}
.message-flexbox {
  display: flex;
  margin-bottom: 0.7rem;
  gap: 0.7rem;
}
.success-state p {
  font-weight: 300;
}

.container {
  display: grid;
  background: white;
  width: 670px;
  height: 710px;
  padding: 2.2rem;
  border-radius: 1rem;
}

.container h2 {
  font-size: 1.7rem;
  margin-bottom: 0.9rem;
  font-weight: 700;
}
.names-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.names-flexbox input {
  width: 290px;
  height: 3rem;
  margin-top: 0.6rem;
  border-radius: 0.6rem;
  border: 0.8px solid grey;
  padding-left: 1rem;
  cursor: pointer;
}
input:focus {
  border-color: lightseagreen;
  outline: none;
}
input:hover {
  border-color: lightseagreen;
  outline: none;
}

.first-name h4 {
  font-weight: 500;
}
.last-name h4 {
  font-weight: 500;
}
.email-address h4 {
  font-weight: 500;
}
.messageInput h4 {
  font-weight: 500;
}
.submit-checkbox h4 {
  font-weight: 500;
}

.first-name-error {
  display: none;
  margin-top: 0.3rem;
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
}
.last-name-error {
  display: none;
  margin-top: 0.3rem;
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
}
.email-error {
  display: none;
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
}
.query-error {
  display: none;
  margin-top: 0.4rem;
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
}
.message-error {
  display: none;
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
}
.checkbox-error {
  display: none;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: red;
}
.success-state {
  display: none;
}

.email-address input {
  margin-top: 0.7rem;
  width: 600px;
  height: 3rem;
  border-radius: 0.6rem;
  border: 0.8px solid grey;
  padding-left: 1rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.email-address input:hover {
  border-color: lightseagreen;
  outline: none;
}
.email-address input:focus {
  border-color: lightseagreen;
  outline: none;
}

.query-flexbox {
  display: flex;
  justify-content: space-between;
}
.radio-wrapper {
  border: 1px solid grey;
  padding: 0.8rem;
  width: 18rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.radio-wrapper input {
  margin-right: 0.8rem;
  margin-left: 0.6rem;
  cursor: pointer;
}
.query-type-checkbox h4 {
  font-weight: 500;
  margin-bottom: 0.8rem;
}
h4 {
  font-size: 0.9rem;
}

.messageInput h4 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.messageInput input {
  width: 600px;
  height: 100px;
  border-radius: 0.6rem;
  border: 1px solid grey;
  padding-left: 1rem;
  cursor: pointer;
}
.messageInput input:hover {
  border-color: lightseagreen;
  outline: none;
}
.messageInput input:focus {
  border-color: lightseagreen;
  outline: none;
}

.submit-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.5rem;
}

span {
  color: blue;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  border: none;
  background: var(--clr-Green-600-medium);
  color: white;
  height: 50px;
  border-radius: 0.6rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
button:hover {
  background: var(--clr-Grey-900-darker);
}
button:focus {
  background: var(--clr-Grey-900-darker);
}
